{
    "app": {
        "port": ":80"
    },
    "db": {
        "connectionAddress": "localhost:27017",
        "database": "snippets_page"
    },
    "jwt": {
        "secret": "secret_key"
    },
    "cors": {},
    "tls": {
        "enable": false,
        "cert": "tls/cert.pem",
        "key": "tls/key.pem"
    }
}