{
    "app": {
        "frontend": "cloud.localhost:8080",
        "backend": "api.localhost:8080",
        "port": ":8080"
    },
    "db": {
        "connectionAddress": "localhost:27017",
        "database": "snippets_page"
    },
    "jwt": {},
    "cors": {},
    "tls": {
        "enable": false,
        "cert": "tls/cert.pem",
        "key": "tls/key.pem"
    }
}